*.psd filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
res/models filter=lfs diff=lfs merge=lfs -text
res/textures filter=lfs diff=lfs merge=lfs -text
